body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color:palevioletred;
    color: black;
    position: sticky;
    top: 0px
}

footer {
    text-align: center;
    padding: 20px;
    background-color:palevioletred;
    color: black;

}

h3 {
    color: black;
    line-height: 25px;
}

.parent-container{
    display: flex;
    flex-direction: row;

}



.text-1{
    width: 50vw;
    padding-right: 30px;
    line-height: 25px;
    
}

.text-2{
    width: 50vw;
    padding-left: 30px;
    line-height: 25px;
    
}

.concert1{
    padding: 50px;
    background-color:lightpink;
    color: black;
}

.concert2{
    padding: 50px;
    background-color:white;
    color: black;
}

.concert3{
    padding: 50px;
    background-color:lightpink;
    color: black;
}

.concert4{
    padding: 50px;
    background-color:white;
    color: black;
}

.concert5{
    padding: 50px;
    background-color:lightpink;
    color: black;
}

.concert6{
    padding: 50px;
    background-color:white;
    color: black;
}

.concert7{
    padding: 50px;
    background-color:lightpink;
    color: black;
}

.concert8{
    padding: 50px;
    background-color:white;
    color: black;
}

.concert9{
    padding: 50px;
    background-color:lightpink;
    color: black;
}

.concert10{
    padding: 50px;
    background-color:white;
    color: black;
}




@media (max-width: 400px) {
    .parent-container {
        display: flex;
        flex-direction: column;
    }}